/*-- scss:defaults --*/

// Base document colors
$body-bg: #2A323C;
$body-color: #9CA3AF;
$link-color: #75AADB;

// Code blocks
$code-block-bg: true;
$code-block-bg-alpha: -.95;
$code-color: red;

$highlight-style: atom-one;

